<div>
    <button type="button" class="btn btn-default btn-lg" ng-click="get_pings()" >
        <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <table class="table table-striped">
        <tr>
            <td>دوست</td>
            <td>دریافت</td>
            <td>ارسال</td>
        </tr>
        <tr ng-repeat='doc in data'
            ng-click="ping('{{doc.friend}}')">
                <td>{{ doc.friend }}</td>
                <td>{{ doc.count_from }}</td>
                <td>{{ doc.count_to }}</td>
        </tr>
    </table>
</div>